# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually local only
override.tf
*_override.tf

# Terraform variable files, used to store sensitive data
*.tfvars

# Ignore any execution plan files
*.tfplan

# Terraform lock file
.terraform.lock.hcl

# Google Cloud credentials
credentials.json
*.json
*.tfvars